body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: hsl(0, 0%, 95%);
}

h1 {
    color:hsl(0, 0%, 0%);
    font-size: 2em;
}

#container {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.31);
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btnContainer {
    text-align: center;
}

.buttons {
    margin-top: 25px;
    background-color: hsl(0, 0%, 0%);
    font-size: 1.2em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: hsla(0, 0%, 0%, 0.438);
}