body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 95%);
    font-size: 1em;
}

h1 {
    color:hsl(0, 0%, 0%);
    font-size: 2em;
}

form {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.31);
}

#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    margin-top: 25px;
    background-color: hsl(0, 0%, 0%);
    font-size: 1.2em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}

button:hover {
    background-color: hsla(0, 0%, 0%, 0.438);
}

#result {
    font-size: 1.2em;
    font-weight: bold;
}